.title {
    background-color: #111111;
    color: white;
}

.contact-header {
    padding-top: 35px;
    h1 {
        position: relative;
        text-align: center;
        span {
            background: #fff;
            padding: 0 15px;
            position: relative;
            z-index: 1;
        }
    }
    h1:before {
        background: black;
        content: "";
        display: block;
        height: 3px;
        position: absolute;
        top: 50%;
        width: 100%;
    }
    h1:before {
        left: 0;
    }
}

textarea {
    resize: none;
}